.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #d8b4fe, #4c1d95, #d8b4fe) 1;
  box-shadow: 0 4px 20px rgba(139, 92, 246, 0.25);
}

.app.dark .navbar {
  background: #1a1a1a;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #e9d5ff, #581c87, #e9d5ff) 1;
  box-shadow: 0 4px 20px rgba(168, 85, 247, 0.4);
}  


.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hamburger {
  display: none;
}

/* MOBILE */
@media (max-width: 798px) {
  .nav-links {
    display: none;
  }
  .nav-search {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
  color: #f97316;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; */
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar-logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-left: -5px;
}

.app.dark .logo-text {
  color: #c084fc;
}

.nav-links li { list-style: none; }
.nav-links a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.nav-search {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ddd;
  padding: 4px 8px;
  border-radius: 8px;
}
.nav-search input {
  border: none;
  outline: none;
}
.nav-search button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Hover colors by theme */
.app.light .navbar .actions button:hover,
.app.light .navbar .nav-links a:hover {
  color: #f97316;
}

.app.dark .navbar .actions button:hover,
.app.dark .navbar .nav-links a:hover {
  color: #22c55e;
}

/* icon color contrast by theme */
.app.light .nav-links svg { color: #111; }
.app.dark .nav-links svg { color: #fff; }
